{% if page.nav_transparent %}
<nav class="menu-classic menu-fixed menu-transparent light align-right" data-menu-anima="fade-in">
{% else %}
<nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
{% endif %}
    <div class="container">
        <div class="menu-brand">
            <a href="index.html">
                {% if page.nav_transparent %}
                <img class="logo-default scroll-hide" src="{{ site.logo_transparent }}" alt="Sailspot logo" />
                <img class="logo-retina scroll-hide" src="{{ site.logo_transparent }}" alt="Sailspot logo" />
                {% else %}
                <img class="logo-default scroll-hide" src="{{ site.logo_default }}" alt="Sailspot logo" />
                <img class="logo-retina scroll-hide" src="{{ site.logo_default }}" alt="Sailspot logo" />
                {% endif %}
                <img class="logo-default scroll-show" src="{{ site.logo_scrolled }}" alt="Sailspot logo" />
                <img class="logo-retina scroll-show" src="{{ site.logo_scrolled }}" alt="Sailspot logo" />
            </a>
        </div>
        <i class="menu-btn"></i>
        <div class="menu-cnt">
            <ul id="main-menu">
                <li><a href="index.html">Strona główna</a></li>
                <li><a href="about.html">O nas</a></li>
                <li class="dropdown">
                    <a href="treks.html">Kursy</a>
                    <ul>
                        <li><a href="treks.html">Wszystkie kursy</a></li>
                        <li><a href="kurs-zeglarz-jachtowy.html">Kurs żeglarski – patent</a></li>
                    </ul>
                </li>
                <li><a href="contacts.html">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>
